<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>Video Tutorials</title>
		<link href="/css/main.css" rel="stylesheet" />
		<link rel="shortcut icon" type="image/x-icon" href="/images/logo.png" />
	</head>

	<body>
		<nav>
			<div class="navLogo">
				<a href="/"><img src="../static/images/logo.png" /><h1>Video
						Tutorials</h1></a>
			</div>
			{{#if loggedIn}}
				<div class="search">
					<form method="post" action="/search">
						<input name="search" placeholder="Search" />
					</form>
				</div>
				<div class="navOptions">
					<a href="/">Home</a>
					<split>|</split>
					<a href="/profile">Welcome, {{firstName}}</a>
					<split>|</split>
					<a href="/create-tutorial">Create a Tutorial</a>
					<split>|</split>
					<a href="/logout">Logout</a>
				</div>
			{{else}}
				<div class="navOptions">
					<a href="/">Home</a>
					<split>|</split>
					<a href="/login">Login</a>
					<split>|</split>
					<a href="/registration">Register</a>
				</div>
			{{/if}}
		</nav>

		{{{body}}}

		<footer>
			<div>Made by
				<a href="https://github.com/jwachtel96">Jesse Wachtel</a>
				using Express-Handlebars and MongoDB.
			</div>
		</footer>
	</body>

</html>