<div id="details">
	<div class="container">
		<h2>{{title}}</h2>
		<div>
			<img id="detailsImage" src="{{imageURL}}" />
		</div>
		<div class="ingredients">
			<div>
				<h3>Details</h3>
				<p>{{description}}</p>
			</div>
		</div>
	</div>
</div>