<div class="container">
	<main>
		<div id="indexMain" class="indexMain">
			<img src="../static/images/logo.png" />
			<h2>Video Tutorials</h2>
			<p>
				Start Self-Study Today:
			</p>
			<p>
				It'll Change Your Life
			</p>
		</div>

		<h3>Top Tutorials</h3>

		<div class="container">
			<div class="courses">
				<a href="/details/6189fb8542e690cb9603ee48">
					<img src="../static/images/nodejs.jpg" />
					<h4>Node.js</h4>
				</a>
			</div>
			<div class="courses">
				<a href="/details/618a9a4d429713787e784429">
					<img src="../static/images/expressjs.jpg" />
					<h4>Express.js</h4>
				</a>
			</div>
			<div class="courses">
				<a href="/details/618ab3b8429713787e784430">
					<img src="../static/images/javascript.jpg" />
					<h4>
						JavaScript
					</h4>
				</a>
			</div>
		</div>
		<a href="/tutorials"><button>SEE MORE</button></a>
	</main>
</div>