<div class="container">
	<form method="POST" action="/login">
		<h3>Sign in</h3>
		<p class="{{loginError}}">{{loginMessage}}</p>
		<input
			name="username"
			type="text"
			placeholder="  Username"
			value="{{username}}"
		/>
		<input type="password" name="password" placeholder="  Password" />
		<button>Submit</button>
	</form>
</div>