<div class="container">
	<nav>
		<div class="navLogo">
			<a href="/"><img src="../static/images/logo.png" /><h1>Video
					Tutorials</h1></a>
		</div>
		{{#if loggedIn}}
			<div class="navOptions">
				<a href="/">Home</a>
				<split>|</split>
				<a href="/courses">Courses</a>
				<split>|</split>
				<a href="/profile">Welcome, {{user.firstName}}</a>
				<split>|</split>
				<a href="/logout">Logout</a>
			</div>
		{{else}}
			<div class="navOptions">
				<a href="/">Home</a>
				<split>|</split>
				<a href="/courses">Courses</a>
				<split>|</split>
				<a href="/login">Login</a>
				<split>|</split>
				<a href="/registration">Register</a>
			</div>
		{{/if}}
	</nav>
	<form method="POST" action="#/login">
		<h3>Sign in</h3>
		<p id="loginError">Invalid username or password</p>
		<input name="username" type="text" placeholder="  Username" />
		<input type="password" name="password" placeholder="  Password" />
		<button>Submit</button>
	</form>
</div>