<div class="container">
	<form method="POST" action="#/login">
		<h3>Sign in</h3>
		<p id="loginError">Invalid username or password</p>
		<input name="username" type="text" placeholder="  Username" />
		<input type="password" name="password" placeholder="  Password" />
		<button>Submit</button>
	</form>
</div>